[submodule "vendors/mem"]
	path = vendors/mem
	url = https://github.com/0x1F9F1/mem
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendors/zydis"]
	path = vendors/zydis
	url = https://github.com/zyantific/zydis
[submodule "vendors/lief"]
	path = vendors/lief
	url = https://github.com/lief-project/LIEF
[submodule "vendors/lyra"]
	path = vendors/lyra
	url = https://github.com/bfgroup/Lyra.git
[submodule "vendors/fmt"]
	path = vendors/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendors/cpr"]
	path = vendors/cpr
	url = https://github.com/libcpr/cpr
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/nlohmann/json
